:root {
  --warm-green: #36ba98;
  --warm-yellow: #e9c46a;
  --warm-orange: #f4a261;
  --warm-red: #e76f51;
}

.food-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  place-items: center;
  margin: 10px 0;
  padding: 5px;
  border: 2px solid var(--warm-green);
}
.food-container img {
  aspect-ratio: 1/1;
  width: 50px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #000 1px solid;
  padding: 10px 0;
}
