:root {
  --dark-brown: #894e3f;
  --nav-text: #eee1ba;
  --light-shade: #f0d7a7;
  --tan: #9c634f;
  --light-brown: #c37960;
}
.sidebar {
  width: 18%;
  min-height: 100svh;
  border: 1.5px solid #a9a9a9;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}
.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 5px 10px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
.sidebar-option img {
  aspect-ratio: 1/1;
  width: 30px;
}
.sidebar-option.active {
  background: var(--light-shade);
  border-color: var(--dark-brown);
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
