:root {
  --dark-brown: #894e3f;
  --nav-text: #eee1ba;
  --light-shade: #f0d7a7;
  --tan: #9c634f;
  --light-brown: #c37960;
}

.header {
  height: 38svh;
  background-image: url("/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.header-contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
.header-contents h2 {
  color: var(--nav-text);
  font-size: clamp(1.5rem, 3.5vw, 3rem);
}
.header-contents p {
  color: var(--nav-text);
  font-size: clamp(0.9rem, 1.8vw, 1.3rem);
}
.header-contents button {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  background: transparent;
  color: var(--nav-text);
  border: 1px solid var(--light-shade);
}
.header-contents button:hover {
  background: var(--dark-brown);
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 55%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
