:root {
  --dark-brown: #894e3f;
  --nav-text: #eee1ba;
  --light-shade: #f0d7a7;
  --tan: #9c634f;
  --light-brown: #c37960;
}

.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: auto;
}
.explore-menu h1 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
}
.explore-menu p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.explore-menu-list {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding-top: 30px;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list img {
  aspect-ratio: 1/1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}
.explore-menu-list p {
  margin-top: 10px;
  font-size: clamp(1rem, 2vw, 1.6rem);
}
.explore-menu hr {
  margin: 10px 0;
  height: 2px;
  background: var(--light-shade);
  border: none;
}
.explore-menu .active {
  transform: translateY(-20px);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.scroll-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.box {
  height: 100px;
  width: 500px;
  background: red;
  flex-shrink: 0;
}

@media (max-width: 1050px) {
}
